* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {

    background-color: red;
}

div {

    border-radius: 20px;
}

.wh {

    background-color: white;
}

main {

    background-color: rgb(139,133,223);
}

section {

    width: 100%;
}


.container {

    width: 90%;
    margin: auto;

}

.card {

    padding: 20px;
}

.wu-in .card {

    background-color: white;
}


/***************************************************
HEADER 
**************************************************/

header {
 
    background-color: rgb(0,119,252);
    height: 80px;
}


nav {

    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    line-height: 80px;
    width: 100%;
}

.logo a:link , .logo a:visited{

    color: white;
    text-decoration: none;
}


/***************************************************
HEADER 
**************************************************/

/***************************************************
SERVICES
**************************************************/

.card {

    background-color: rgb(168,216,255);
    margin: 20px 0px; 
}

.cards {

    padding: 25px 0px;
}

.cb-img {

    height: 200px;
}

.test-c.card {

    display: flex;
    align-items:  center;
    flex-direction: column;
    text-align: center;
    color: white;

    background-color:rgb(139,133,223);
}
.tes-i {

    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

}

.tes-i img {

    height: 100%;
    width: 100%;
    background-color: aqua;
    border-radius: 50%;
}

.test-c.card .tes-i{

    width: 100px;
    height:100px;
}

.test-c.card .tes-d {

    width: 70%;
}




/***************************************************
SERVICES
**************************************************/


#plan {


    padding: 40px 0px;

}

#testimonial {

    text-align: center;
    padding: 40px 0px;
}

#free {

    text-align: center;
}

.copyright ul {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright ul li {

    margin-right: 20px;
}

.copyright ul li:first-child {

    list-style: none;
}

footer {

    text-align: center;
    color: white;
    background-color: black;
    font-size: 0.8em;
}

footer .container {

    width: 40%;
    padding-top: 50px;
}

footer p {

    padding-bottom: 50px;
}
/***************** TESTIMONIALS ****************/







/***************************************************
RESPONSIVE
**************************************************/

@media screen and (min-width:588px) and (max-width: 997px) {

    .cards {

        display: flex;
        flex-direction: column;
        background-color: yellow;
        width: 100%;
    }

    .cards .card {

        margin: 10px;
    }

    .cr-2 .card {

        width: calc(100% / 3 );
        
    }

    .cr-1 {

        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .cr-1 .card.big {

       width: 66.6666%;
       text-align: left;
    }

    .cr-1 .card.big .cb-img {

        width: 50%;
    }

    .cr-1 .card {

        width: 33.3333%;
    }

    .cr-2 {

        
        display: flex;
        flex-direction: row;
    }

    /*********************/

    .test-c.card {

        flex-direction: row;
        text-align: left;
        font-size: 0.8em;
    }

    .tes-i {

        width: 100px;
        height: 100px;
    
    }

    .test-c.card .tes-i{

        width: 200px;
        height:200px;
    }



    /*********************/

    /*********************/

    .wu-in {

        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%
    }

    .wu-in .card {

        width: calc( 100% / 2 - 20px );
        margin: 10px;

    }
    /********************/

    /*******************/

    .abt-in {

        display: flex;
    }

    .abt-p {

        width: 30%;
    }

    .abt-d {

        width: 70%;
    }

    /********************/
    

    h1, h2, h3, h4, p {

        font-size: 1.5em;
    }
}

@media screen and ( min-width:998px) {

    .container {

        width: 70%;
    }

    .cards {

        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .cards .card {

        margin: 10px;
    }

    .cr-2 .card {

        width: calc(100% / 3 );
        
    }

    .cr-1 {

        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card.big {

        display: flex;
    }

    .cr-1 .card.big {

       width: 66.6666%;
       text-align: left;
    }

    .cr-1 .card.big .cb-img {

        width: 50%;
    }

    .cr-1 .card {

        width: 33.3333%;
    }

    .cr-2 {

        
        display: flex;
        flex-direction: row;
    }


    .in-plan {

        display: flex;
        align-items: flex-end;
    }

    .in-plan .card {

        text-align: center;
        height: 50%;
    }

    .plan-ls {

        margin: 20px;
        width: 100%;
    }

     /*********************/

     .test-c.card {

        flex-direction: row;
        text-align: left;
        font-size: 0.8em;
    }

    .test-c.card .tes-i{

        width: 200px;
        height:200px;
    }




    /*********************/

     /*********************/

     .wu-in {

        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .wu-in .card {

        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
    /********************/

       /*******************/

    .abt-in {

        display: flex;
    }

    .abt-p {

        width: 30%;
    }

    .abt-d {

        width: 70%;
    }

    /********************/



    h1, h2, h3, p {

        font-size: 1.5em;
    }
}
