* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {

    background-color: red;
}

div {

    border-radius: 20px;
}

.wh {

    background-color: white;
}

main {

    background-color: rgb(139,133,223);
}

section {

    width: 100%;
}


.container {

    width: 90%;
    margin: auto;

}

.card {

    padding: 20px;
}

.wu-in .card {

    background-color: white;
}


/***************************************************
HEADER 
**************************************************/

header {
 
    background-color: rgb(0,119,252);
    height: 80px;
}


nav {

    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    line-height: 80px;
    width: 100%;
}

.logo a:link , .logo a:visited{

    color: white;
    text-decoration: none;
}


/***************************************************
HEADER 
**************************************************/

/***************************************************
SERVICES
**************************************************/

.card {

    background-color: rgb(168,216,255);
    margin: 20px 0px; 
}

.cards {

    padding: 25px 0px;
}

.cb-img {

    height: 200px;
}

.test-c.card {

    display: flex;
    align-items:  center;
    flex-direction: column;
    text-align: center;
    color: white;

    background-color:rgb(139,133,223);
}
.tes-i {

    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    width: 30%;

    
}


/***************************************************
SERVICES
**************************************************/


#plan {


    padding: 40px 0px;

}

#testimonial {

    text-align: center;
    padding: 40px 0px;
}

/***************** TESTIMONIALS ****************/







/***************************************************
RESPONSIVE
**************************************************/

@media screen and (min-width:481px) and (max-width: 997px) {

    .cards {

        display: flex;
        flex-direction: column;
        background-color: yellow;
        width: 100%;
    }

    .cards .card {

        margin: 10px;
    }

    .cr-2 .card {

        width: calc(100% / 3 );
        
    }

    .cr-1 {

        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .cr-1 .card.big {

       width: 66.6666%;
       text-align: left;
    }

    .cr-1 .card.big .cb-img {

        width: 50%;
    }

    .cr-1 .card {

        width: 33.3333%;
    }

    .cr-2 {

        
        display: flex;
        flex-direction: row;
    }

    /*********************/

    .test-c.card {

        flex-direction: row;
        text-align: left;
        font-size: 0.8em;
    }

    .tes-i {

        width: 400px;
        margin-right: 30px;
    }

    /*********************/

    /*********************/

    .wu-in {

        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .wu-in .card {

        width: calc(95% / 2);
        margin: 10px;
    }
    /********************/

    h1, h2, h3, h4, p {

        font-size: 1.5em;
    }
}

@media screen and ( min-width:998px) and (max-width:2100px) {

    .cards {

        display: flex;
        flex-direction: column;
        background-color: yellow;
        width: 100%;
    }

    .cards .card {

        margin: 10px;
    }

    .cr-2 .card {

        width: calc(100% / 3 );
        
    }

    .cr-1 {

        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card.big {

        display: flex;
    }

    .cr-1 .card.big {

       width: 66.6666%;
       text-align: left;
    }

    .cr-1 .card.big .cb-img {

        width: 50%;
    }

    .cr-1 .card {

        width: 33.3333%;
    }

    .cr-2 {

        
        display: flex;
        flex-direction: row;
    }


    .in-plan {

        display: flex;
        align-items: flex-end;
    }

    .in-plan .card {

        text-align: center;
        height: 50%;
    }

    .plan-ls {

        margin: 20px;
        width: 100%;
    }

     /*********************/

     .test-c.card {

        flex-direction: row;
        text-align: left;
        font-size: 0.8em;
    }

    .tes-i {

        width: 400px;
        height: 200px;
        margin-right: 30px;
    }

    /*********************/

     /*********************/

     .wu-in {

        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .wu-in .card {

        width: calc(95% / 3);
        margin: 10px;
    }
    /********************/



    h1, h2, h3, p {

        font-size: 1.5em;
    }
}


}