* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {

    background-color: red;
}

div {

    border-radius: 20px;
}

.wh {

    background-color: white;
}

section {

    background-color: rgb(139,133,223)
}

/***************************************************
HEADER 
**************************************************/

header {
 
    background-color: rgb(0,119,252);
    height: 80px;
}


nav {

    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    line-height: 80px;
    width: 100%;
}

.logo a:link , .logo a:visited{

    color: white;
    text-decoration: none;
}


/***************************************************
HEADER 
**************************************************/

/***************************************************
SERVICES
**************************************************/

.card {

    width: 100%;
    background-color: rgb(168,216,255);
    text-align: center;
    margin: 20px 0px; 
}

.cards {

    width: 90%;
    margin: auto;
    padding: 25px 0px;
}

.card.big .cb-in:last-child {

    height: 200px;
}


/***************************************************
SERVICES
**************************************************/


#plan {

    height: 100px;
}





/***************************************************
RESPONSIVE
**************************************************/

/* @media screen and ( min-width:995px) {

 
    .cards {

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 20px;
    }


    .cr-1 {

        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .cr-2 {

        display: flex;
        flex-direction: row;
        width: calc(100% / 3);
        width: 100%;
    }


    .card {

        background-color: rgb(168,216,255);
        margin: 10px 10px;
        width: calc(100% / 3);
        padding: 15px;
        text-align: center;
    }

    .card.big {

        width: 70%;
    }

    .cb-in {

        text-align: left;
        padding-right: 30px;
    
    }

    .cb-in.cb-img {

        width: 200px;
        height: 200px;
    
        
    }
 */

    
}


@media screen and (min-width:996px) {

    .card.big {

        display: flex;
    }

    .card.big div:last-child {


        margin-bottom: -15px;

        
    }

}


